/* body{margin: 0;} */

/* css 초기화 : 모든 요소의 기본값을 없앰 */
* { margin: 0;padding: 0;}
ul{list-style-type: none;}

/* 헤더 */
header{
    /* border: 1px solid #000; */
    height: 70px;
}
.logo{
    margin-top: 30px; padding: 0 20px;

}

nav{background-color: #3d3baf;
    padding: 10px;}
.navi{display: flex; color: white;
        /* border: 1px solid #c3e91bd8; */
    }
/* .navi > li : 자식 li만 스타일 적용
    .navi li : .navi의 자식 li 및 후손 li 모두 스타일 적용 */
.navi > li{
    /* border: 1px solid #973131; */
    padding: 0 20px;}

/* 컨텐츠 */
.container{
    /* border: 1px solid #6c39e0; */
    /* 자식요소를 수평으로 나열할 때 : flex */
           display: flex;
           margin: 20px;
          }
section{
    /* border: 3px solid #509eb6; */
        width: 70%;}
article{
    background-color: burlywood;
        /* border: 1px solid #000; */
    }
aside{
        /* border: 1px solid #76e72a; */
      /* background-color: yellow; */
        border-left: 1px solid #000;
        padding: 25px; width: 30%; margin-left: 20px;}

/* 푸터 */
footer{
    border-top: 1px solid #000;
    padding: 20px;}

footer p {
    font-size: 12px; text-align: center;
}