body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tab-container{
    /* border: 5px solid #f60404; */
    width: 600px;
    height: 350px;
    position: relative;  
}
.tab-container input[name=tmenu]{
    display: none;
}

input[id=tab1]:checked ~ .slide-box .slide-inner{
    left:0;
} 
input[id=tab2]:checked ~ .slide-box .slide-inner{
    left:-600px;
} 
input[id=tab3]:checked ~ .slide-box .slide-inner{
    left:-1200px;
} 

.slide-box{
    border: 3px solid fff#d9dad3;
    width: 600px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide-box .slide-inner{
    width: 1800px;
    font-size: 0;
    /* 이미지끼리 붙었을때는 자동으로 margin이 생성 되는데
       font-size=0으로 해주면 해결됨 
    */
    position: absolute;
    top: 0;left: 0;
    transition: .5s;
}
.slide-box .slide-inner a{}
.slide-box .slide-inner a img{
    width: 600px;
}


.tab-container .btn{
    border: 1px solid #000;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.tab-container .btn label{
    display: inline-block;
    width: 20px;height: 20px;
    background-color: #544c4c;
    border-radius: 50%;
}

input[id=tab1]:checked ~ .btn label[for=tab1], 
input[id=tab2]:checked ~ .btn label[for=tab2], 
input[id=tab3]:checked ~ .btn label[for=tab3] 
{
    background-color: dodgerblue;
}