@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.info{}
.info .item{
    border: 1px solid #000;
    margin-bottom: 10px;
    width: 300px;
    position: relative;
    
}
.info .item input{
    width: inherit;
    padding: 10px;
    outline: none;
border: 1px solid #979696;}
    
.info .item input:focus{
    border: 1px solid #000;
    box-shadow: 
    block-size: ;
    block-size: 0;
}
info .item input:focus + .fa{
    border: 1px solid #000;
    box-shadow: 
    block-size: ;
    block-size: 0;
}
.info .item .fa{
    position: absolute;
    top: 0;left: 0;
    
}
.info .item input:focus::placeholder{
    visibility: hidden;
}